:root { --transition-animation-duration: 0.25s; --symbol-size: 25px; }

.noselect { user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.spacer { flex: 1; }

body { background-color: #400020; margin: 0; padding: 0; font-size: 2em; color: white; }

h1 { text-align: center; margin-block-start: 0.5em; margin-block-end: 0.5em; }

button { cursor: pointer; }
button:disabled { cursor: default; }
button.menubutton { border-radius: 10px; background-color: #60D0FF; font-family: serif; font-size: 0.8em; height: 40px; }
button.menubutton:disabled { background-color: #90B0C0; }
button.menubutton:active:not(:disabled) { color: black; background-color: #40B0D0; }
input[type=range] { cursor: grab; }
input[type=range]:active { cursor: grabbing; }


/* Background image from Transparent Textures <https://www.transparenttextures.com/45-degree-fabric-light.html>, originally by Atle Mo for Toptal Subtle Patterns <https://www.toptal.com/designers/subtlepatterns/awesome-pattern/> */
#maincontainer { position: relative; width: 400px; height: 600px; display: flex; background-image: url(images/45-degree-fabric-light.png); border: 3px solid black; box-sizing: border-box; border-radius: 10px; cursor: default; }
#maincontainer:focus { outline: 0; }

section.scene { width: 100%; height: 100%; position: absolute; top: 0; left: 0; opacity: 0; }

#loadingscene { opacity: 1; z-index: 10; cursor: pointer; display: flex; align-items: center; justify-content: center; } /* this scene is shown on load */
#clicktoloadbox { color: black; background-color: white; border: 2px solid black; padding: 25px; }
#clicktoloadbox > p { margin: 0; }
#progressbox { display: none; }
#progressbox > p { text-align: center; }
#progress { width: 300px; }
#errorbox { color: black; background-color: white; border: 2px solid black; padding: 25px; display: none; }
#errorbox > p { margin: 0; }

#menuscene { display: flex; flex-direction: column; align-items: center; }
#menubuttonscontainer { width: 80%; flex-grow: 1; display: flex; flex-direction: column; justify-content: center; gap: 40px; }
#resumegamebutton { display: none; }

#gamescene { display: flex; flex-direction: column; align-items: center; gap: 10px; }
#palette { margin-top: 40px; display: flex; gap: 10px; }
#palette > button { width: 40px; height: 40px; padding: 0; color: black; font-family: sans-serif; font-size: var(--symbol-size); text-align: center; }
#guesses { flex-grow: 1; width: 80%; overflow-y: scroll; }
fieldset > legend { font-size: 0.5em; }
fieldset.guess { background-color: rgba(0, 0, 0, .25); border-radius: 10px; display: flex; padding: 8px; gap: 8px; }
fieldset.guess > .guesssymbol { width: 40px; height: 40px; box-sizing: border-box; border: 1px dashed black; color: black; background-color: white; font-family: sans-serif; font-size: var(--symbol-size); }
fieldset.guess > .guesssymbol { text-align: center; }
fieldset.guess > .guesssymbol.selected:not(.disabled) { border: 2px solid red; }
fieldset.guess > .guesstail { flex-grow: 1; }
fieldset.guess > .guesstail > div { display: none; width: 100%; text-align: center; }
fieldset.guess > .guesstail > button { width: 100%; }
fieldset.guess:first-child > .guesssymbol:not(.disabled) { cursor: pointer; }
fieldset.guess .guessresult { font-size: 0.5em; display: flex; flex-direction: column; height: 100%; justify-content: center; }
#gamereturnbutton { width: 80%; margin-bottom: 40px; }

#optionsscene { display: flex; flex-direction: column; align-items: center; }
#optionscontrolscontainer { width: 80%; flex-grow: 1; display: flex; flex-direction: column; justify-content: center; gap: 40px; }
#symbolscontainer { width: 100%; display: flex; flex-direction: column; justify-content: center; gap: 10px; }
#symbolsrow { display: flex; justify-content: space-between; }
#symbolsrow > input[type=text] { height: 40px; width: 40px; font-family: sans-serif; font-size: var(--symbol-size); text-align: center; }
#symbolscontainer > button { width: 100%; }
.controlrow { width: 100%; display: flex; gap: 20px; }
.controlrow > input { flex-grow: 1; }
#deletesaveddatabutton { background-color: #FF4040; }
#deletesaveddatabutton:active { background-color: #C04040; }
#optionsreturnbutton { width: 80%; margin-bottom: 40px; }

#historyscene { display: flex; flex-direction: column; align-items: center; gap: 40px; }
#historytablecontainer { width: 80%; flex-grow: 1; border: 2px solid black; background-color: #E0E0E0; overflow: auto; }
#historytable { width: 100%; color: black; font-size: 0.5em; border-collapse: collapse; text-align: center; }
#historytable thead { color: white; background-color: #505050; }
#historytable tbody th { background-color: #C0C0C0; }
#historytable td, #historytable th { border-bottom: 2px solid black; }
#historytable td + td, #historytable th + th { border-left: 1px solid black; }
.historyrow { cursor: pointer; }
#historyreturnbutton { width: 80%; margin-bottom: 40px; }

#replayscene { display: flex; flex-direction: column; align-items: center; gap: 10px; }
#replay { width: 80%; flex-grow: 1; overflow: auto; }
#replayreturnbutton { width: 80%; margin-bottom: 40px; }


.fadescenein { animation: fadescenein var(--transition-animation-duration) forwards; }
@keyframes fadescenein { from { opacity: 0; } to { opacity: 1 } }
.fadesceneout { animation: fadesceneout var(--transition-animation-duration) forwards; }
@keyframes fadesceneout { from { opacity: 1; } to { opacity: 0 } }
